<!doctype html>
<html lang="zh-CN">
<head>
{% include head.html %}
</head>

<body>
<!--[if lt IE 7]>你的浏览器太古老了！<![endif]-->

{% include top.html %}

<div class="container">
<div class="page-header">
    <h1>{{ page.title }}</h1>
</div>

<div class="row">
    <div class="span8">
        <div class="post">
            {% if page.category == 'news' %}<p class="postInfo"><i class="icon-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}</p>{% endif %}

            {{ content }}
        </div>

        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1991246" async=""></script>
        <!-- UY END -->
    </div>

    <div class="span4">
        <h3>相关文章</h3>

        {% if page.categories != empty %}
        <ul>
        {% capture leaf_category %}{{page.categories | last}}{% endcapture %}
        {% for post in site.categories[leaf_category] %}
            {% if post.url != page.url %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</div>

{% include bottom.html %}

{% include body_closing.html %}
</body>

</html>
